# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Data Science Tools
- Minutes to Hours
- Popular languages
- Libraries
- Arithmatic Expression

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
| ----------------- |
|PixieDust|
|Atlas|
|MySQL|

### Below are a few examples of evaluating arithmetic expressions in Python:

a+b

a-b

a*b

a/b

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

convert_hours = 200/60
print(f"total number of hours are {convert_hours}")

total number of hours are 3.3333333333333335

## Author :
Hassam Nasir